ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(14, 139, 140);
    position: sticky;
    top: 0;
	font-family: Montserrat,Georgia,serif;
	z-index: 999;
}

li {
    float: left;
	
}
.logo {
	padding-left: 50px;
	padding-right: 120px;
	font-size: 25px;

}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	margin-top: 15px;
	
}

li a:hover {
 
	color: orange;
}

.logoimg {
	height:150px;
	width: 300px;
	margin: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 15%;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .3} 
  to {opacity: 1}
}
/* The image containers */
.column {
  float: left;
  width: 28%;
  margin: 30px;
  height: auto;
  position: relative;
}
.column:hover .overlay {
  height: 45%;
}
.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(14, 139, 140);
  overflow: hidden;
  width: 100%;
  height: 35px;
  transition: .5s ease;
  opacity: 0.8;

}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.text-block {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: #FFFF99;
    color: black;
	height: 40px;
	padding-left: 10px;
	padding-right: 10px;
	opacity: 0.9;
}
/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}
/*Room images proprieties*/
.image {
  display: block;
  width: 100%;
  height: auto;
}

p {
	font-size: 20px;
	text-align: center;
}
/*table with the icons*/
table {
	border-collapse: collapse;
	text-align: center;
	padding: 15px;
	margin-left: auto;
	margin-right: auto;
	width: 55%;

	
}
.tableimg {
	width: 30px;
	height: 30px;
}
/*the image posotioned to the left of the text*/
.imgaside {
	float: left;
	margin-right: 35px;
	margin-left: 35px;
	width:420px; 
	height:250px;
}
/*the text and the image in the same section*/
.clearfix {
    overflow: auto;
	font-family: Montserrat,Georgia,serif;
	
}
/*the buttons going to the form*/
.btn {
  background-color: #A0A0A0;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 250px;
  opacity: 0.9;
  border-radius: 15%;
}

.btn:hover {
  opacity: 1;
  background-color:rgb(14, 139, 140);

}
footer {
	text-align: center;
	background-color: rgb(14, 139, 140);
	opacity: 0.7;
	height: 75px;
	padding: 8px;
	padding-right: 75px;
	
}
footer span{
	float: left;
	padding: 20px;
}
span {
	padding: 20px;
}
.fa {
  padding: 20px;
  font-size: 70px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  float: right;
  border-radius: 15%;

}

.fa:hover {
	border: 1px solid black;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-youtube {
  background: #bb0000;
  color: white;
}
.fa-instagram {
  background: #125688;
  color: white;
}

.fa-pinterest {
  background: #cb2027;
  color: white;
}
/*form*/
/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 600px;
  padding: 10px;
  background-color:#d1d1d1 ;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 10px;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: rgb(14, 139, 140);
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: rgb(255, 102, 102);
}
